@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');


body, #slider, .wrap, .slide-content {
    margin:0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.wrap {position: relative}

.slide{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.slide1 {background-image: url(../../public/images/board.jpg)}
.slide2 {background-image: url(../../public/images/colors.jpg)}
.slide3 {background-image: url(../../public/images/desktop.jpg)}
.slide4 {background-image: url(../../public/images/dog.jpg)}
.slide5 {background-image: url(../../public/images/eyes.jpg)}
.slide6 {background-image: url(../../public/images/food.jpg)}
.slide7 {background-image: url(../../public/images/friends.jpg)}
.slide8 {background-image: url(../../public/images/girl.jpg)}
.slide9 {background-image: url(../../public/images/music.jpg)}
.slide10 {background-image: url(../../public/images/smile.jpg)}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span {
    font-size: 8rem;
    color: white;
    font-weight: 500;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 0;
    height: 0;
    border-style: solid;

}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent white transparent transparent; 
    left: 0;
    margin-left: 30px;
}

#arrow-right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent white; 
    right: 0;
    margin-right: 30px;
}